*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: lightgrey lightgray;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(156, 156, 156);
    
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(163, 164, 165, 0.548);
    border-radius: 20px;
    border: 10px solid rgba(211, 211, 211, 0.623);
    
  }

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: white;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    font-weight: bold;
    font-family: 'Source Sans Pro';
}
header div.logo{
    display: flex;
    align-items: center;
    width: 23.33%;
    height: 100%;
}
header div.logo img{
    width: 20%;
    height: 70%;
    position: relative;
    left: 10%;
}
header div.logo a{
    width: 100%;
    margin-left: 5%;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    color: rgb(65, 63, 63);
}
header div.logo a span{
    position: absolute;
    bottom: 92.5%;
    left: 8.5%;
}

header div#burger{
    display: none;
}

header div.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    width: 33.33%;
    height: 100%;
}
header div.menu a{
    margin-left: 5%;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: rgb(90, 90, 90);
}
header div.menu a:hover{
    color: gray;
}

header div.acesso{
    display: flex;
    align-items: center;   
    justify-content: space-around;
    width: 23.33%;
    height: 100%;
}
header div.acesso a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(107, 105, 105);
}
header div.acesso span{
    position: relative;
    left: 7%;
    font-size: 22px;
    color: rgb(14, 127, 233);
}
header div.acesso .cadastro{
    padding: 3% 7%;
    border: .5px solid rgb(109, 166, 219);
    border-radius: 5px;

}
header div.acesso .cadastro:hover{
    color: white;
    background: rgb(109, 166, 219);
}


main.pri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100vw;
    height: 125vh;
    border-top: 1px solid rgb(218, 216, 216);
    font-family: 'Source Sans Pro';
}


main.pri .artigo{
    width: 53%;
    height: 45%;
    margin-right: 3%;
    border-radius: 10px;
    background-color: rgb(245, 124, 76);
    box-shadow: 1px 3px 10px gray;
}

main.pri .artigo img{
    width: 100%;
    height: 100%;
}


main.pri div.artigo2{
    width: 25%;
    height: 45%;
    border-radius: 10px;
    box-shadow: 1px 3px 10px gray;
    background-color: #918921;

}

main .artigo2 .foto{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background: #918921;
}
main .artigo2 .foto img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

main .artigo2 .info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
    background: white;
}
main .artigo2 .info h4{
    margin: 5px 0 20px 2px;
    font-size: 18px;
    color: rgb(21, 97, 121);
}
main .artigo2 .info h3{
    margin: 0 0 50px 2px;
    font-size: 22px;
    color: rgb(66, 66, 68);
}
main .artigo2 .info p{
    margin-left: 2px;
    color: rgb(66, 66, 68);
}
   




main.pri .artigo3{
    width: 25%;
    height: 45%;
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 1px 3px 10px gray;
    background-color: #918921;
}

main .artigo3 .foto{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background: #918921;
}
main .artigo3 .foto img{
    width: 100%;
    height: 102%;
    border-radius: 10px 10px 0 0;
}

main .artigo3 .info{
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
    background: white;
}
main .artigo3 .info h4{
    font-size: 18px;
    margin: 5px 0 20px 2px;
    color: rgb(21, 97, 121);
}
main .artigo3 .info h3{
    margin: 0 0 45px 2px;
    font-size: 16px;
    color: rgb(66, 66, 68);
}
main .artigo3 .info p{
    margin-left: 2px;
    color: rgb(66, 66, 68);
}


main.pri .artigo4{
    width: 25%;
    height: 45%;
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 1px 3px 10px gray;
    background-color: #918921;
}

main .artigo4 .foto{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}
main .artigo4 .foto img{
    width: 100%;
    height: 102%;
    border-radius: 10px 10px 0 0;
}

main .artigo4 .info{
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
    background: white;
}
main .artigo4 .info h4{
    font-size: 18px;
    margin: 5px 0 20px 2px;
    color: rgb(21, 97, 121);
}
main .artigo4 .info h3{
    margin: 0 0 70px 2px;
    font-size: 14px;
    color: rgb(66, 66, 68);
}
main .artigo4 .info p{
    margin-left: 2px;
    color: rgb(66, 66, 68);
}


main.pri .artigo5{
    width: 25%;
    height: 45%;
    border-radius: 10px;
    box-shadow: 1px 3px 10px gray;
    background-color: #918921;
}

main .artigo5 .foto{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    background: #918921;
}
main .artigo5 .foto img{
    width: 100%;
    height: 102%;
    border-radius: 10px 10px 0 0;
}

main .artigo5 .info{
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
    background: white;
}
main .artigo5 .info h4{
    font-size: 18px;
    margin: 5px 0 20px 2px;
    color: rgb(21, 97, 121);
}
main .artigo5 .info h3{
    margin: 0 0 95px 2px;
    font-size: 9px;
    color: rgb(66, 66, 68);
}
main .artigo5 .info p{
    margin-left: 2px;
    color: rgb(66, 66, 68);
}


main.seg{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro';
    font-weight: 500;
}

main.seg .pag h3{
    margin-top: 5px;
    font-size: 16px;
    color: gray;
}

main.seg .seta span{
    margin-left: 10px;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.447);
    border-radius: 100%;
    box-shadow: 1px 1px 12px gray;
    cursor: pointer;
}


aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;    
    border-top: 1px solid rgb(52, 52, 52);
    background: rgb(21, 97, 121);
}

aside div.boxall{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

aside div.conteudo{
    width: 23%;
    height: 100%; 
}

aside #home{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro';
}
aside div.logo{
    width: 40%;
    height: 70%;
}
aside div.logo img{
    width: 90%;
    height: 70%;
    margin-top: 10px;
}

aside div.artigo{
    display: flex;
    align-items: center;
    width: 50%;
    height: 70%;
}
aside div.artigo a{
    width: 50%;
    height: 70%;
    font-size: 32px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

div.conteudo p{
    width: 60%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

aside div.conteudo#desenvolvedor{
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
    
}
aside div.conteudo#desenvolvedor h3{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

aside div.conteudo#desenvolvedor p{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-size: 14px;
}

aside div.conteudo#desenvolvedor a{
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

aside #sobre{
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro';
}
aside #sobre h3{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}
aside #sobre a:hover{
    color: white;
}
aside #sobre a{
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
aside #sobre a:hover{
    color: rgba(255, 255, 255, 0.61);
}


footer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-top: 1px solid rgb(57, 107, 122);
    background: rgb(21, 97, 121);
}
a.teste{
    text-align: center;
    margin-right: 5px;
    width: 3.5%;
    height: 70%;
    border-radius: 10px;
    background-color: rgb(11, 91, 116);
}
a.teste:hover{
    background: rgb(7, 69, 88);
}

a.teste img{
    width: 55%;
    height: 55%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 6px;
    background: rgb(42, 121, 145);
}
a img.youtube{
    padding: 9px;
}
a img.face{
    border-radius: 100%;
}
a img.twitter{
    padding: 0;
    background-color: rgb(11, 91, 116);
}

@media screen and (min-width: 378px) and (max-width: 585px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header div.logo{
        
    }
    header div.logo a img{
        width: 60%;
        height: 60%;
    }
    header div.logo a span{
        left: 14%;
    }

    header div#burger{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 50%;
        height: 100%;

    }
    header div#burger span{
        margin-right: 2%;
        font-size: 200%;
        color: rgb(14, 127, 233);
    }

    header div.menu{
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-top: 15%;
    }
    header div.menu a{
        width: 80%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 3%;
        border-radius: 5px;
        border-right: 3px solid rgb(14, 127, 233);
        text-align: end;
        color: rgb(90, 90, 90);
    }

    header div.acesso{
        width: 100%;
        margin-top: 12%;
    }
    header div.acesso span{
        position: relative;
        left: 66%;
    }
    header div.acesso a.entrar{
        margin-left: 55%;
        margin-right: 4%;
        padding: 4% 12%;
        border: 1px solid rgb(14, 127, 233);
        border-radius: 5px;

    }

    header div.acesso a.cadastro{
        display: none;
    }


    main.pri{
        justify-content: space-around;
        margin: 0;
        height: 150%;
    }

    main.pri .artigo{
        margin-top: 250px;
        width: 92%;
        height: 25%;
    }
    main.pri .artigo img{
        width: 100%;
        height: 100%;
        border: 2px solid #918921;;
        border-radius: 10px;
    }

    main.pri div.artigo2{
        margin: 0;
        width: 45%;
        height: 30%;
    }

    main.pri div.artigo2 div.info h4{
        font-size: 16px;
    }
    main.pri div.artigo2 div.info h3{
        margin-bottom: 20px;
        font-size: 16px;
    }
    main.pri div.artigo2 div.info p{
        margin: 0;
        font-size: 10px;
    }

    main.pri .artigo3{
        margin: 0;
        width: 45%;
        height: 30%;
    }

    main .artigo3 div.info{
        border-top: 2px solid white;
        font-size: 16px;
    }
    main .artigo3 div.info h4{
        font-size: 16px;
    }
    main.pri div.artigo3 div.info h3{
        margin-bottom: 14px;
        font-size: 12px;
    }
    main.pri div.artigo3 div.info p{
        margin: 0;
        font-size: 10px;
    }

    main .artigo4{
        display: none;
    }

    main .artigo5{
        display: none;
    }


    aside{
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgb(52, 52, 52);
    }

    aside div.boxall{
        display: flex;
        flex-direction: column;
    }

    aside div.boxall div.conteudo{
        width: 70%;
    }

    div#desenvolvedor{
        margin-top: 5%;
    }

    
    footer{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 15%;
        border: none;
        background: white;
    }

    footer a.teste{
        width: 25%;
        height: 45%;
        margin: 3px 3px;

    }

    footer a.teste img{
        width: 50%;
    }
}

@media screen and (min-width: 586px) and (max-width: 699px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header div.logo{
        width: 30%;
    }
    header div.logo a img{
        width: 60%;
        height: 60%
    }
    header div.logo a span{
        left: 18%;
    }

    header div#burger{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 60%;
        height: 100%;

    }
    header div#burger span{
        margin-right: 2%;
        font-size: 300%;
        color: rgb(14, 127, 233);
    }

    header div.menu{
        display: none;
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-top: 15%;
    }
    header div.menu a{
        width: 80%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 3%;
        border-radius: 5px;
        border-right: 2px solid rgb(14, 127, 233);
        text-align: end;
        font-size: 28px;
        background-image: linear-gradient(to right, rgba(10, 10, 10, 0), rgba(128, 128, 128, 0.055) ,rgba(255, 255, 255, 0.164));
    }

    header div.acesso{
		display: none;
        width: 100%;
        margin-top: 12%;
    }
    header div.acesso span{
        position: relative;
        left: 70%;
    }
    header div.acesso a.entrar{
        display: ;
        margin-left: 62%;
        margin-right: 4%;
        padding: 4% 10%;
        border: 1px solid rgb(14, 127, 233);
        border-radius: 5px;
        font-size: 22px;

    }

    header div.acesso a.cadastro{
        display: none;
    }


    aside{
        width: 100%;
        height: 120%;
        border-bottom: 1px solid rgb(52, 52, 52);
    }

    aside div.boxall{
        display: flex;
        flex-direction: column;
    }

    aside div.boxall div.conteudo{
        width: 100%;
    }

    aside div.boxall div.conteudo p{
        font-size: 22px;
    }

    div#desenvolvedor{
        margin-top: 10%;
    }
    aside div.conteudo#desenvolvedor h3{
        margin-bottom: 5%;
        font-size: 25px;
    }
    aside div.conteudo#desenvolvedor p{
        font-size: 22px;
    }
    aside div.conteudo#desenvolvedor a{
        margin-bottom: 3%;
        font-size: 22px;
    }

    aside div#sobre{
        margin-top: 5%;
    }
    aside div#sobre h3{
        margin-bottom: 3%;
        font-size: 25px;
    }
    aside div#sobre a{
        margin-bottom: 3%;
        font-size: 20px;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 20%;
        border: none;
        background: white;
        margin-top: 2%;
    }

    footer a.teste{
        width: 25%;
        height: 40%;
        margin: 2px 2px;
        padding: 1%;

    }

    footer a.teste img{
        width: 50%;
    }

}


@media screen and (min-width: 700px) and (max-width: 767px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header div.logo{
        width: 30%;
    }
    header div.logo a img{
        width: 60%;
        height: 60%
    }
    header div.logo a span{
        left: 18%;
    }

    header div#burger{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 60%;
        height: 100%;

    }
    header div#burger span{
        margin-right: 2%;
        font-size: 300%;
        color: blueviolet;
    }

    header div.menu{
        display: none;
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-top: 15%;
    }
    header div.menu a{
        width: 80%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 3%;
        border-radius: 5px;
        border-right: 2px solid rgb(14, 127, 233);
        text-align: end;
        font-size: 32px;
    }

    header div.acesso{
		display: none;
        width: 100%;
        margin-top: 12%;
    }
    header div.acesso span{
        position: relative;
        font-size: 35px;
        left: 72%;
    }
    header div.acesso a.entrar{
        display: ;
        margin-left: 63%;
        margin-right: 4%;
        padding: 4% 10%;
        border: 1px solid rgb(14, 127, 233);
        border-radius: 5px;
        font-size: 27px;

    }

    header div.acesso a.cadastro{
        display: none;
    }


    


    aside{
        width: 100%;
        height: 120%;
        border-bottom: 1px solid rgb(52, 52, 52);
    }

    aside div.boxall{
        display: flex;
        flex-direction: column;
    }

    aside div.boxall div.conteudo{
        width: 100%;
    }

    aside div.boxall div.conteudo p{
        font-size: 22px;
    }

    div#desenvolvedor{
        margin-top: 10%;
    }
    aside div.conteudo#desenvolvedor h3{
        margin-bottom: 5%;
        font-size: 25px;
    }
    aside div.conteudo#desenvolvedor p{
        font-size: 22px;
    }
    aside div.conteudo#desenvolvedor a{
        margin-bottom: 3%;
        font-size: 22px;
    }

    aside div#sobre{
        margin-top: 5%;
    }
    aside div#sobre h3{
        margin-bottom: 3%;
        font-size: 25px;
    }
    aside div#sobre a{
        margin-bottom: 3%;
        font-size: 20px;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        width: 27%;
        height: 17%;
        border: none;
        background: white;
        margin-top: 2%;
    }

    footer a.teste{
        width: 25%;
        height: 40%;
        margin: 1px 1px;
        padding: 1%;

    }

    footer a.teste img{
        width: 50%;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px){
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header div.logo{
        width: 30%;
    }
    header div.logo a img{
        width: 60%;
        height: 60%
    }
    header div.logo a span{
        left: 18%;
    }

    header div#burger{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 60%;
        height: 100%;

    }
    header div#burger span{
        margin-right: 2%;
        font-size: 350%;
        color: rgb(14, 127, 233);
    }

    header div.menu{
        display: none;
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-top: 15%;
    }
    header div.menu a{
        width: 80%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 2%;
        border-radius: 5px;
        border-right: 2px solid rgb(14, 127, 233);
        text-align: end;
        font-size: 37px;
    }

    header div.acesso{
        display: none;
        width: 100%;
        margin-top: 12%;
    }
    header div.acesso span{
        position: relative;
        font-size: 40px;
        left: 68%;
    }
    header div.acesso a.entrar{
        display: ;
        margin-left: 59%;
        margin-right: 4%;
        padding: 4% 10%;
        border: 1px solid rgb(14, 127, 233);
        border-radius: 5px;
        font-size: 35px;

    }

    header div.acesso a.cadastro{
        display: none;
    }


    


    aside{
        width: 100%;
        height: 135%;
        border-bottom: 1px solid rgb(52, 52, 52);
    }

    aside div.boxall div.conteudo img{
        width: 50%;
    }

    aside div.boxall div.artigo a{
        text-align: start;
    }

    aside div.boxall{
        display: flex;
        flex-direction: column;
    }

    aside div.boxall div.conteudo{
        width: 100%;
    }

    aside div.boxall div.conteudo p{
        font-size: 22px;
    }

    div#desenvolvedor{
        margin-top: 10%;
    }
    aside div.conteudo#desenvolvedor h3{
        margin-bottom: 5%;
        font-size: 25px;
    }
    aside div.conteudo#desenvolvedor p{
        font-size: 22px;
    }
    aside div.conteudo#desenvolvedor a{
        margin-bottom: 3%;
        font-size: 22px;
    }

    aside div#sobre{
        margin-top: 5%;
    }
    aside div#sobre h3{
        margin-bottom: 3%;
        font-size: 25px;
    }
    aside div#sobre a{
        margin-bottom: 3%;
        font-size: 20px;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        width: 25%;
        height: 15%;
        border: none;
        background: white;
        margin-top: 2%;
    }

    footer a.teste{
        width: 25%;
        height: 40%;
        margin: 1px 1px;
        padding: 1%;

    }

    footer a.teste img{
        width: 50%;
    }

}

@media screen and (min-width: 850px) and (max-width: 992px){
    header div.acesso span{
        position: relative;
        font-size: 40px;
        left: 71%;
    }
    header div.acesso a.entrar{
        display: ;
        margin-left: 61%;
        margin-right: 4%;
        padding: 4% 10%;
        border-radius: 5px;
        font-size: 35px;

    }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 12vh;
        font-weight: bold;
        font-family: 'Source Sans Pro';
    }
    header div.logo{
        display: flex;
        align-items: center;
        width: 23.33%;
        height: 100%;
    }
    header div.logo img{
        width: 30%;
        height: 70%;
        position: relative;
        left: 0.5%;
    }
    header div.logo a{
        width: 100%;
        margin-left: 5%;
        text-decoration: none;
        font-size: 20px;
        font-family: monospace;
    }
    header div.logo a span{
        position: absolute;
        bottom: 92.5%;
        left: 8.5%;
    }
    
    header div.menu{
        display: none;
        align-items: center;
        justify-content: space-around;    
        width: 33.33%;
        height: 100%;
    }
    header div.menu a{
        margin-left: 5%;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
    
    header div.acesso{
        display: none;
        align-items: center;   
        justify-content: space-around;
        width: 23.33%;
        height: 100%;
    }
    header div.acesso a{
        text-decoration: none;
        font-size: 18px;
    }
    header div.acesso span{
        position: relative;
        left: 0;
        font-size: 22px;
    }
    header div.acesso .cadastro{
        padding: 3% 7%;
        border-radius: 5px;
    
    }
    
    
    
    
    aside{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 30vh;    
    }
    
    aside div.boxall{
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;
    }
    
    aside div.conteudo{
        width: 23%;
        height: 100%; 
    }
    
    aside #home{
        display: flex;
        flex-wrap: wrap;
        font-family: 'Source Sans Pro';
    }
    aside div.logo{
        width: 40%;
        height: 70%;
    }
    aside div.logo img{
        width: 80%;
        height: 60%;
    }
    
    aside div.artigo{
        display: flex;
        align-items: center;
        width: 50%;
        height: 70%;
    }
    aside div.artigo a{
        width: 50%;
        height: 70%;
        font-size: 32px;
        text-decoration: none;
        color: white;
    }
    
    div.conteudo p{
        width: 60%;
        font-size: 13px;
    }
    
    aside div.conteudo#desenvolvedor{
        display: flex;
        flex-direction: column;
        font-family: 'Source Sans Pro';
        
    }
    aside div.conteudo#desenvolvedor h3{
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    aside div.conteudo#desenvolvedor p{
        text-decoration: none;
        font-size: 14px;
    }
    
    aside div.conteudo#desenvolvedor a{
        text-decoration: none;
        margin-bottom: 8px;
        font-size: 14px;
    }
    
    aside #sobre{
        display: flex;
        flex-direction: column;
        font-family: 'Source Sans Pro';
    }
    aside #sobre h3{
        text-decoration: none;
        margin-bottom: 10px;
    }
    aside #sobre a:hover{
        color: white;
    }
    aside #sobre a{
        text-decoration: none;
        margin-bottom: 8px;
        font-size: 14px;
    }
    
    
    footer{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 10vh;
    }
    a.teste{
        text-align: center;
        margin-right: 5px;
        width: 4.5%;
        height: 70%;
        border-radius: 10px;
    }
    
    a.teste img{
        width: 55%;
        height: 55%;
        margin-top: 10px;
        padding: 5px;
        border-radius: 6px;
    }
    a img.youtube{
        padding: 9px;
    }
    a img.face{
        border-radius: 100%;
    }
    a img.twitter{
        padding: 0;
    }
}